* {box-sizing: border-box;}

body {
    background-color: #654832;
    margin: 0;
}
div.header {
    /* overflow: hidden; */
    display: flex;
    background-color: #497537;
    white-space:nowrap; 
}
div.header div {
    float: left;
    text-align: center;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color:white;
    font-family:'KouLen', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    margin-top: 80px;
    transition: all 0.5s ease-in;
}
div.header div:hover{
    background-color: #2D541D;
}
div.header img{
    padding:29px; 
    font-weight: bold;
}

.homepageimg{
    display: block;
  margin-left:auto;
  margin-right: auto;
}
a{
    color:inherit;
    text-decoration: none;
}