*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.main-content {
    user-select: none;
    padding: 0rem;
    background-color: #003C43;
}

header {
    z-index: 400;
    position: fixed;
    width: 100%;
}

.brand {
    color: white;
    font-size: 1.5em;
    float: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 100px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

body{
    background-color: #f2f2f2;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto auto;
    padding-top: 65px;
}

.heading h1{
    font-size: 50px;
    color: #E3FEF7;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #135D66;
}

.heading p{
    font-size: 18px;
    color: #77B0AA;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about, .about-reverse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.about-reverse{
    flex-direction: row-reverse;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #E3FEF7;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #77B0AA;
}

.about-content a{
    display: inline-block;
    padding: 10px 20px;
    color: #003C43;
    background-color: #77B0AA;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content a:hover{
    background-color: #135D66;
}

@media screen and (max-width: 768px){
    .heading{
        padding-top: 65px;
    }

    .heading h1{
        font-size: 36px;
    }

    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container{
        padding: 0px;
    }

    .about, .about-reverse{
        padding: 20px;
        margin-bottom: auto;
        flex-direction: column;
    }

    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content p{
        padding: 0px;
        font-size: 16px;
    }

    .about-content a{
        font-size: 16px;
    }
}

@media screen and (max-width: 604px){
    .heading{
        padding-top: 90px;
    }
}

@media screen and (max-width: 473px){
    .heading{
        padding-top: 120px;
    }
}

@media screen and (max-width: 344px){
    .heading{
        padding-top: 150px;
    }
}