html {
    scroll-behavior: smooth;
}

.main-content {
    user-select: none;
    padding: 0rem;
}

header {
    z-index: 400;
    position: fixed;
    width: 100%;
}

.brand {
    color: #fff;
    font-size: 1.5em;
    float: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 100px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}

@keyframes colorChange {
    0% {
        background-position: 0 50%;
        background-clip: text;
    }

    50% {
        background-position: 100% 50%;
        background-clip: text;
    }

    100% {
        background-position: 0 50%;
        background-clip: text;
    }

}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 100vh 100vh;

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 65px;
    }

    .title {
        color: #fff;
        text-transform: uppercase;
        font-size: 5vmax;
        z-index: 100;
        margin: auto;
    }

    .content {
        color: #fff;
        text-transform: uppercase;
        z-index: 100;
    }

    a.btn {
        top: 10vh;
        z-index: 200;
        position: relative;
        display: flexbox;
        background-color: #fff;
        text-decoration: none;
        color: #000;
        padding: 15px 35px;
        font-size: 2em;
        font-weight: bold;
        border-radius: 50px;
        border: 1px solid #fff;
        margin-bottom: 10%;
    }

    a.btn:hover {
        background-color: transparent;
        color: #fff;
        transition: all 0.3s ease;
        border: 1px solid #fff;
    }


    .section1 {
        background-color: rgb(0, 0, 0);
        animation:  colorful 2s infinite;
        .title {
            background: linear-gradient(to bottom right, blue, pink);
            background-size: 300% 300%;
            background-clip: text;
            color: transparent;
            animation-name: colorChange;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }


    }




    .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #000;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);

        }

        a:hover {
            color: #ffffff;
            transition: all 0.3s ease;

        }

        .wrapper {
            display: flex;
            margin: auto;
        }

        .wrapper .first-text {
            font-size: 120px;
            color: #fff;
        }

        .wrapper .sec-texts {
            height: 180px;
            line-height: 180px;
            overflow: hidden;
        }

        .sec-texts li {
            position: relative;
            top: 0;
            font-size: 120px;
            color: #0ef;
            list-style: none;
            padding: 0 40px;
            text-shadow: 0 0 px #0ef;
            animation: slide 24s steps(4) infinite, colorful 6s infinite;
            font-weight: bold;
        }

        .sec-texts li span {
            position: relative;
        }

        .sec-texts li span::before {
            content: '';
            position: absolute;
            left: 0;
            width: 800px;
            height: 180px;
            background: #000;
            border-left: 20px solid #0ef;
            animation: typing 3s steps(10) infinite alternate;
        }
        .sec-texts:hover{
            text-shadow: 0 0 10px #0ef;
        }
    }

    .section3 {
        background-color: rgb(255, 255, 255);

        a {
            text-decoration: none;
        }

        .content {
            color: rebeccapurple;
            text-shadow: 0 0 10px rebeccapurple;
        }

        .content:hover {
            color: white;
            text-shadow: 0 0 150px rebeccapurple;
        }
        .btn{
            background-color: #000;
            color: #fff;
        }
        .btn:hover{
            background-color: #ffffff;
            color: #000000;
            border: 1px solid rgb(0, 0, 0);
        }
    }

    .section4 {
        animation:colorful 6s infinite;
        background-color: rgb(255, 183, 183);

        a {
            text-decoration: none;
            color: #000000;
            
        }

        a:hover {
            color: #ffffff;
            transition: all 0.3s ease;
            text-shadow: 0 0 15px rgb(255, 255, 255);
        }
    }
}

@keyframes slide {
    100% {
        top: -720px;
    }
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}


@keyframes typing {
    100% {
        left: 105%;
        margin: 0 -70px 0 70px;
    }
}